<a href="https://colab.research.google.com/github/vmittal231/cognitive-computing-assignment/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assingment 1.1

In [2]:
print("vipin kumar mittal")
print("vipin kumar mittal")
print("vipin kumar mittal")

vipin kumar mittal
vipin kumar mittal
vipin kumar mittal

Assignment 2.1

In [6]:
a = 27
b = 86
c = 98
d = a+b+c
print(a, "+", b, "+", c, "+", "-->", d)

27 + 86 + 98 + --> 211

Assignment 2.2

In [8]:
a = "vipin"
b = " kumar"
c = " mittal"
d = a+b+c
print(a, "+", b, "+", c, "-->", d)

vipin +  kumar +  mittal --> vipin kumar mittal

Assignment 4.1

In [11]:
for i in range(1,11):
  print("7", "*", i, "=", 7*i)
print("\n")
for i in range(1,11):
  print("9", "*", i, "=", 9*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

Assignment 4.2

In [12]:
n = int(input("enter the number: "))
for i in range(1,11):
  print(n, "*", i, "=", n*i)

enter the number: 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

Assignment 4.3

In [18]:
n = int(input("enter the number: "))
sum = 0
for i in range(1,n+1):
  sum = sum + i
print("sum of n numbers: ", sum)

enter the number: 5
sum of n numbers:  15

Assignment 5.1

In [17]:
a = int(input("enter number a: "))
b = int(input("enter number b: "))
c = int(input("enter number c: "))
print("maximum number is: ", max(a,b,c))

enter number a: 26
enter number b: 75
enter number c: 77
maximum number is:  77

Assignment 5.2

In [19]:
n = int(input("enter number n: "))
sum = 0
for i in range(1,n+1):
  if i%63 == 0:
    sum = sum + i
print("sum of numbers divisible by 7 and 9: ", sum)

enter number n: 63
sum of numbers divisible by 7 and 9:  63

Assignment 5.3

In [29]:
n=int(input("Enter any number : "))
sum=0
def isprime(i):
  if i==1:
    return False
  for j in range(2,i):
    if i%j==0:
      return False
  return True

for i in range(1,n+1):
  if isprime(i):
    sum=sum+i

print("Sum of prime numbers: ", sum)

Enter any number : 7
Sum of prime numbers:  17

Assignment 6.1

In [26]:
n=int(input("Enter any number : "))

def oddSum(n):
  sum = 0
  for i in range(1,n+1):
    if i%2 != 0:
      sum  = sum + i
  return sum
print("sum of all odd numbers: ", oddSum(n))

Enter any number : 10
sum of all odd numbers:  25

Assignment 6.2

In [31]:
n=int(input("Enter any number : "))
def addPrime(n):
  sum=0
  def isprime(i):
    if i==1:
      return False
    for j in range(2,i):
      if i%j==0:
        return False
    return True

  for i in range(1,n+1):
    if isprime(i):
      sum = sum + i
  return sum

print("Sum of prime numbers: ", addPrime(n))

Enter any number : 34
Sum of prime numbers:  160